USE [rapphimVIP]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[cinema_id] [int] NULL,
 CONSTRAINT [PK__Accounts__46A222CD72F2C3F9] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountRole]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK__AccountR__3213E83F3BE93F40] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ShowID] [int] NULL,
	[TotalSeats] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__Booking__73951ACDEE353034] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingProduct]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingProduct](
	[BookingProductID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[TotalPriceBookingProduct] [decimal](10, 2) NULL,
 CONSTRAINT [PK__BookingP__8AFEF455DB05F0CA] PRIMARY KEY CLUSTERED 
(
	[BookingProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeat]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeat](
	[BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[SeatID] [int] NULL,
	[Status] [int] NOT NULL,
	[TicketPrice] [decimal](10, 2) NULL,
	[HoldUntil] [datetime] NULL,
	[ShowID] [int] NULL,
 CONSTRAINT [PK__BookingS__FA4B942630564FAF] PRIMARY KEY CLUSTERED 
(
	[BookingSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](255) NULL,
	[CityID] [int] NULL,
	[CityAddress] [nvarchar](255) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
 CONSTRAINT [PK__Cinema__59C9262697EE2F56] PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NULL,
	[HallName] [nvarchar](255) NULL,
	[TotalSeats] [int] NULL,
 CONSTRAINT [PK__CinemaHa__7E60E2748CC49DFC] PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHallSeat]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHallSeat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NULL,
	[SeatNumber] [varchar](10) NULL,
	[SeatType] [int] NULL,
	[SeatPrice] [decimal](10, 2) NULL,
	[PairID] [int] NULL,
	[Status] [int] NULL,
	[row_seat] [nvarchar](5) NULL,
	[col_seat] [int] NULL,
 CONSTRAINT [PK__CinemaHa__311713D347655F51] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__City__F2D21A964D499A0D] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeMovie]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeMovie](
	[UserID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[IsLiked] [bit] NULL,
 CONSTRAINT [PK__LikeMovi__A335E5EF7319EB51] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[ip_address] [nvarchar](50) NULL,
	[device_info] [nvarchar](255) NULL,
	[login_time] [datetime] NULL,
 CONSTRAINT [PK__LoginHis__096AA2E9C6FFBA14] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieTitle] [nvarchar](255) NULL,
	[MovieDescription] [nvarchar](max) NULL,
	[MovieLanguage] [nvarchar](50) NULL,
	[MovieGenre] [nvarchar](100) NULL,
	[MovieReleaseDate] [date] NULL,
	[MovieRuntime] [int] NULL,
	[MovieAge] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[MovieActor] [nvarchar](255) NULL,
	[MovieTrailler] [nvarchar](500) NULL,
 CONSTRAINT [PK__Movie__4BD2943A61565677] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Message] [nvarchar](max) NULL,
	[DateSent] [datetime] NULL,
	[IsRead] [bit] NULL,
	[DeviceInfo] [nvarchar](255) NULL,
	[IPAddress] [varchar](45) NULL,
 CONSTRAINT [PK__Notifica__20CF2E329C748D74] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPs]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPs](
	[otp_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[otp_hash] [nvarchar](255) NOT NULL,
	[purpose] [nvarchar](50) NULL,
	[expires_at] [datetime] NOT NULL,
	[used] [bit] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__OTPs__AEE35435EEDB761D] PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [varchar](50) NULL,
 CONSTRAINT [PK__Payment__9B556A587FAC96A3] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](100) NULL,
 CONSTRAINT [PK__Permissi__E5331AFA7EADD613] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductPrice] [decimal](10, 2) NULL,
	[ImageProduct] [nvarchar](max) NULL,
	[ProductDescription] [nvarchar](255) NULL,
 CONSTRAINT [PK__Product__B40CC6ED714480AB] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[refresh_token] [nvarchar](1000) NULL,
	[expires_at] [datetime] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__RefreshT__CB3C9E17FDA18B1A] PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[permission_id] [int] NULL,
 CONSTRAINT [PK__RolePerm__3213E83FD957185C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
	[role_type] [nvarchar](50) NULL,
 CONSTRAINT [PK__Roles__760965CC90713F13] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomLayout]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomLayout](
	[layout_id] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[row_seat] [nvarchar](5) NOT NULL,
	[col_seat] [int] NOT NULL,
	[cell_type] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[layout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[ShowID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[HallID] [int] NULL,
	[ShowTime] [time](7) NULL,
	[ShowDate] [date] NULL,
 CONSTRAINT [PK__Show__6DE3E0D22611764A] PRIMARY KEY CLUSTERED 
(
	[ShowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[gender] [nvarchar](10) NULL,
	[date_of_birth] [date] NULL,
	[address] [nvarchar](255) NULL,
	[avatar_url] [nvarchar](255) NULL,
 CONSTRAINT [PK__Users__B9BE370FF8267C82] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 13/04/2026 3:24:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[DiscountValue] [decimal](10, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Description] [nvarchar](255) NULL,
	[PaymentID] [int] NULL,
	[IsActive] [bit] NULL,
	[Title] [nvarchar](255) NULL,
	[ImageVoucher] [nvarchar](max) NULL,
	[UsageLimit] [int] NULL,
	[UsageCount] [int] NULL,
	[IsRestricted] [bit] NULL,
 CONSTRAINT [PK__Voucher__3AEE79C1C5C1E2B9] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherUsage]    Script Date: 13/04/2026 3:24:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherUsage](
	[VoucherUsageID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherID] [int] NULL,
	[UserID] [int] NULL,
	[UsedAt] [datetime] NULL,
	[BookingID] [int] NULL,
 CONSTRAINT [PK__VoucherU__4264F82BCCE06F4C] PRIMARY KEY CLUSTERED 
(
	[VoucherUsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress], [Latitude], [Longitude]) VALUES (1, N'CGV TimeCity', 1, N'Số 480 Phố Minh Khai, quận hai bà trưng , Hà Nội', 20.9978007, 105.8643291)
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [CityID], [CityAddress], [Latitude], [Longitude]) VALUES (2, N'CGV Hùng Vương Plaza', 2, N'Tầng 7, Hùng Vương Plaza, 126 Hồng Bàng, Quận 5, TP. Hồ Chí Minh', 10.7562563, 106.6604818)
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (1, 1, N'Phòng 01', 35)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (2, 1, N'Phòng 02', 34)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalSeats]) VALUES (3, 1, N'Phòng 03', 44)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] ON 

INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [Status], [row_seat], [col_seat]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [Status], [row_seat], [col_seat]) VALUES (3, 1, N'A01', 1, CAST(60000.00 AS Decimal(10, 2)), NULL, 0, N'A', 1)
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [Status], [row_seat], [col_seat]) VALUES (4, 1, N'A02', 1, CAST(60000.00 AS Decimal(10, 2)), NULL, 0, N'A', 2)
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName]) VALUES (1, N'Thành Phố Hà Nội')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (2, N'Thành Phố Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieDescription], [MovieLanguage], [MovieGenre], [MovieReleaseDate], [MovieRuntime], [MovieAge], [ImageUrl], [MovieActor], [MovieTrailler]) VALUES (11, N'Avengers: Hồi Kết', N'Biệt đội siêu anh hùng tập hợp để cứu vũ trụ khỏi diệt vong.
Trận chiến cuối cùng chống lại Thanos đầy khốc liệt.
Câu chuyện kết thúc hoành tráng và đầy cảm xúc.', N'Tiếng Anh', N'Khoa học viễn tưởng', CAST(N'2026-04-05' AS Date), 120, N'13+', NULL, N'Robert Downey Jr., Chris Evans', NULL)
INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieDescription], [MovieLanguage], [MovieGenre], [MovieReleaseDate], [MovieRuntime], [MovieAge], [ImageUrl], [MovieActor], [MovieTrailler]) VALUES (12, N'Người Nhện: Không Còn Nhà', N'Peter Parker gặp rắc rối khi danh tính bị lộ.
Đa vũ trụ mở ra mang theo nhiều kẻ thù nguy hiểm.
Hành trình trưởng thành đầy thử thách.', N'Tiếng Mỹ', N'Hành động, phiêu lưu', CAST(N'2026-04-08' AS Date), 110, N'13+', NULL, N'Tom Holland, Zendaya', NULL)
INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieDescription], [MovieLanguage], [MovieGenre], [MovieReleaseDate], [MovieRuntime], [MovieAge], [ImageUrl], [MovieActor], [MovieTrailler]) VALUES (13, N'Doraemon: Vùng Trời Lý Tưởng', N'Nobita cùng Doraemon khám phá thế giới trên không.
Một xã hội hoàn hảo nhưng ẩn chứa bí mật.
Chuyến phiêu lưu đầy ý nghĩa và cảm xúc.', N'Tiếng Nhật', N'Hoạt hình, anime', CAST(N'2026-04-10' AS Date), 95, N'12+', NULL, N'Mizuta Wasabi, Megumi Oohara', NULL)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductPrice], [ImageProduct], [ProductDescription]) VALUES (1, N'Nước size M', CAST(60000.00 AS Decimal(10, 2)), NULL, N'Thức uống giải khát mát lạnh, dung tích vừa vặn giúp bạn đập tan cơn khát ngay lập tức mà không lo bị quá nhiều hay nhanh loãng vị.')
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductPrice], [ImageProduct], [ProductDescription]) VALUES (2, N'Bỏng Ngô size M', CAST(80000.00 AS Decimal(10, 2)), NULL, N'Từng hạt bỏng ngô vàng óng, giòn tan được kẹp trong túi giấy giữ nhiệt cực tốt, đảm bảo hương vị thơm lừng đến tận cuối buổi xem phim.')
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductPrice], [ImageProduct], [ProductDescription]) VALUES (3, N'Combo tiết kiệm ', CAST(120000.00 AS Decimal(10, 2)), NULL, N'Gồm 1 Bỏng ngô và 1 Nước . Sự lựa chọn "quốc dân" dành cho các mọt phim đi một mình, vừa đủ đầy, vừa kinh tế cho một trải nghiệm điện ảnh trọn vẹn.')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomLayout] ON 

INSERT [dbo].[RoomLayout] ([layout_id], [HallID], [row_seat], [col_seat], [cell_type]) VALUES (5, 1, N'A', 1, N'SEAT')
INSERT [dbo].[RoomLayout] ([layout_id], [HallID], [row_seat], [col_seat], [cell_type]) VALUES (6, 1, N'A', 2, N'SEAT')
INSERT [dbo].[RoomLayout] ([layout_id], [HallID], [row_seat], [col_seat], [cell_type]) VALUES (7, 1, N'A', 3, N'SEAT')
GO
SET IDENTITY_INSERT [dbo].[RoomLayout] OFF
GO
SET IDENTITY_INSERT [dbo].[Show] ON 

INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowTime], [ShowDate]) VALUES (2341, 21, 1, CAST(N'19:00:00' AS Time), CAST(N'2026-05-12' AS Date))
INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowTime], [ShowDate]) VALUES (2342, 17, 1, CAST(N'09:00:00' AS Time), CAST(N'2026-07-07' AS Date))
INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowTime], [ShowDate]) VALUES (2343, 12, 1, CAST(N'22:00:00' AS Time), CAST(N'2026-07-27' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Show] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountValue], [StartDate], [EndDate], [Description], [PaymentID], [IsActive], [Title], [ImageVoucher], [UsageLimit], [UsageCount], [IsRestricted]) VALUES (1, N'V10KNEW', CAST(10000.00 AS Decimal(10, 2)), CAST(N'2026-05-01' AS Date), CAST(N'2026-12-12' AS Date), N'Voucher gi?m 10.000đ cho đơn t? 50.000đ, áp d?ng toàn b? d?ch v? phim và đ? ăn t?i r?p', NULL, 1, N'Voucher 10k', NULL, 200, 0, 0)
INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountValue], [StartDate], [EndDate], [Description], [PaymentID], [IsActive], [Title], [ImageVoucher], [UsageLimit], [UsageCount], [IsRestricted]) VALUES (2, N'V20KVIP', CAST(20000.00 AS Decimal(10, 2)), CAST(N'2026-05-01' AS Date), CAST(N'2026-12-12' AS Date), N'Voucher gi?m 20.000đ cho đơn t? 100.000đ, áp d?ng cho t?t c? su?t chi?u tiêu chu?n', NULL, 1, N'Voucher 20k', NULL, 150, 0, 0)
INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountValue], [StartDate], [EndDate], [Description], [PaymentID], [IsActive], [Title], [ImageVoucher], [UsageLimit], [UsageCount], [IsRestricted]) VALUES (3, N'V30KMOVIE', CAST(30000.00 AS Decimal(10, 2)), CAST(N'2026-05-01' AS Date), CAST(N'2026-12-12' AS Date), N'Voucher gi?m 30.000đ cho đơn t? 100.000đ, áp d?ng vé xem phim m?i khung gi?', NULL, 1, N'Voucher 30k', NULL, 120, 0, 0)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Hall_Row_Col]    Script Date: 13/04/2026 3:24:37 CH ******/
ALTER TABLE [dbo].[CinemaHallSeat] ADD  CONSTRAINT [UQ_Hall_Row_Col] UNIQUE NONCLUSTERED 
(
	[HallID] ASC,
	[row_seat] ASC,
	[col_seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RoomLayout_Position]    Script Date: 13/04/2026 3:24:37 CH ******/
ALTER TABLE [dbo].[RoomLayout] ADD  CONSTRAINT [UQ_RoomLayout_Position] UNIQUE NONCLUSTERED 
(
	[HallID] ASC,
	[row_seat] ASC,
	[col_seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (getdate()) FOR [login_time]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[OTPs] ADD  DEFAULT (CONVERT([bit],(0))) FOR [used]
GO
ALTER TABLE [dbo].[OTPs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[VoucherUsage] ADD  DEFAULT (getdate()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Cinema] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Cinema]
GO
ALTER TABLE [dbo].[AccountRole]  WITH CHECK ADD  CONSTRAINT [FK__AccountRo__accou__151B244E] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[AccountRole] CHECK CONSTRAINT [FK__AccountRo__accou__151B244E]
GO
ALTER TABLE [dbo].[AccountRole]  WITH CHECK ADD  CONSTRAINT [FK__AccountRo__role___160F4887] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[AccountRole] CHECK CONSTRAINT [FK__AccountRo__role___160F4887]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__ShowID__17036CC0] FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__ShowID__17036CC0]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__UserID__17F790F9] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__UserID__17F790F9]
GO
ALTER TABLE [dbo].[BookingProduct]  WITH CHECK ADD  CONSTRAINT [FK__BookingPr__Booki__18EBB532] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingProduct] CHECK CONSTRAINT [FK__BookingPr__Booki__18EBB532]
GO
ALTER TABLE [dbo].[BookingProduct]  WITH CHECK ADD  CONSTRAINT [FK__BookingPr__Produ__19DFD96B] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[BookingProduct] CHECK CONSTRAINT [FK__BookingPr__Produ__19DFD96B]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK__BookingSe__Booki__1AD3FDA4] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK__BookingSe__Booki__1AD3FDA4]
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD  CONSTRAINT [FK__BookingSe__SeatI__1BC821DD] FOREIGN KEY([SeatID])
REFERENCES [dbo].[CinemaHallSeat] ([SeatID])
GO
ALTER TABLE [dbo].[BookingSeat] CHECK CONSTRAINT [FK__BookingSe__SeatI__1BC821DD]
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD  CONSTRAINT [FK__CinemaHal__Cinem__1DB06A4F] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[CinemaHall] CHECK CONSTRAINT [FK__CinemaHal__Cinem__1DB06A4F]
GO
ALTER TABLE [dbo].[CinemaHallSeat]  WITH CHECK ADD  CONSTRAINT [FK__CinemaHal__HallI__1EA48E88] FOREIGN KEY([HallID])
REFERENCES [dbo].[CinemaHall] ([HallID])
GO
ALTER TABLE [dbo].[CinemaHallSeat] CHECK CONSTRAINT [FK__CinemaHal__HallI__1EA48E88]
GO
ALTER TABLE [dbo].[LikeMovie]  WITH CHECK ADD  CONSTRAINT [FK__LikeMovie__Movie__1F98B2C1] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[LikeMovie] CHECK CONSTRAINT [FK__LikeMovie__Movie__1F98B2C1]
GO
ALTER TABLE [dbo].[LikeMovie]  WITH CHECK ADD  CONSTRAINT [FK__LikeMovie__UserI__208CD6FA] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[LikeMovie] CHECK CONSTRAINT [FK__LikeMovie__UserI__208CD6FA]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK__LoginHist__accou__2180FB33] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK__LoginHist__accou__2180FB33]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__UserI__22751F6C] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK__Notificat__UserI__22751F6C]
GO
ALTER TABLE [dbo].[OTPs]  WITH CHECK ADD  CONSTRAINT [FK__OTPs__account_id__236943A5] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[OTPs] CHECK CONSTRAINT [FK__OTPs__account_id__236943A5]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__Booking__245D67DE] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__Booking__245D67DE]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK__RefreshTo__accou__25518C17] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK__RefreshTo__accou__25518C17]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermi__permi__2645B050] FOREIGN KEY([permission_id])
REFERENCES [dbo].[Permissions] ([permission_id])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK__RolePermi__permi__2645B050]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermi__role___2739D489] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK__RolePermi__role___2739D489]
GO
ALTER TABLE [dbo].[RoomLayout]  WITH CHECK ADD  CONSTRAINT [FK_RoomLayout_Hall] FOREIGN KEY([HallID])
REFERENCES [dbo].[CinemaHall] ([HallID])
GO
ALTER TABLE [dbo].[RoomLayout] CHECK CONSTRAINT [FK_RoomLayout_Hall]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK__Show__HallID__282DF8C2] FOREIGN KEY([HallID])
REFERENCES [dbo].[CinemaHall] ([HallID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK__Show__HallID__282DF8C2]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK__Show__MovieID__29221CFB] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK__Show__MovieID__29221CFB]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__account_i__2A164134] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__account_i__2A164134]
GO
ALTER TABLE [dbo].[VoucherUsage]  WITH CHECK ADD  CONSTRAINT [FK__VoucherUs__UserI__2B0A656D] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[VoucherUsage] CHECK CONSTRAINT [FK__VoucherUs__UserI__2B0A656D]
GO
ALTER TABLE [dbo].[VoucherUsage]  WITH CHECK ADD  CONSTRAINT [FK__VoucherUs__Vouch__2BFE89A6] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[VoucherUsage] CHECK CONSTRAINT [FK__VoucherUs__Vouch__2BFE89A6]
GO
ALTER TABLE [dbo].[RoomLayout]  WITH CHECK ADD  CONSTRAINT [CK_RoomLayout_CellType] CHECK  (([cell_type]='BLOCK' OR [cell_type]='EMPTY' OR [cell_type]='AISLE' OR [cell_type]='SEAT'))
GO
ALTER TABLE [dbo].[RoomLayout] CHECK CONSTRAINT [CK_RoomLayout_CellType]
GO
